<!DOCTYPE html>
<html>
	<head>
		<title>Test Creator</title>
	</head>
	<body>
		<h1>Editing {{ test_name }}</h1>
		<p>Add multiple choice questions to your test</p>
		<form action='{{ test_name_url }}' method="post"> 
			<textarea type='text' name='new_question' placeholder='Enter the next question here' cols='40' rows='5'></textarea>
			<br>
			<p>Answer choices:</p>
			{% for i in range(number_of_choices) %}
				<input type='radio' name='correct_answer'/>{{ letters[i] }}<textarea type='number' name='choices' cols='40' rows='2'></textarea>
				<br>
			{% endfor %}
			<p>Select the correct answer:</p>
			<input type='submit'/>
		</form>
		<ol>
		{% for i in range(number_of_questions) %}
			<li><a href='{{ path }}/question{{ i+1 }}detail'>{{ questions[i] }}</a></li>
		{% endfor %}
		</ol>
		<br>
		<form method='get' action='{{ path_to_editor }}'>
			<button type='submit'>Finished with test</button>
		</form>
	</body>
</html>