<!DOCTYPE html>
<html>

	<head>
		<title>Teacher's Aide Login</title>
	</head>

	<body>
	<h1>Welcome to Teacher's Aide!</h1> 
	<h2>Please login or create a new user account to continue</h2>
		<font color='red'>{{ message }}</font>
		<form method='POST' action='/profile/editor'>
			Enter your user name: <textarea name='username' cols='19' rows='1' type='text' contenteditable="true" required>{{ username }}</textarea>
			<br>
			Enter your password: <input type='password' name='password'/>
			<br>
			<input type='submit'/>
		</form>
		<br>
		<form method='post' action='/new_profile'>
			<button type='submit'>Create a new teacher profile</button>
		</form>

	</body>

</html>